$bg-color: #a4d2c7;

@import './loader';

body {
  background: $bg-color;
  overflow-x: hidden;

  .page-not-found {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
  }

  .loaded {
    width: 1000px;
    height: 200px;
    
    nav {
      position: fixed;
      top: 0;
      width: 100%;
      left: 0;
      background: #373737;
      z-index: 100;
    }

    .charts {
      margin: 100px auto;
    }

    canvas {
      position: relative;
      transform: translateX(-70%);
      left: 50%;
    }
  }

  .weather-container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
  }

  .register-info, .login-info {
    display: none;
    &--visible {
      display: block;
    }
  }

  .weather-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;

    &--errored {
      input {
        border: 1px solid red;
      }
    }

    &--hidden {
      display: none;
    }

    form input {
      width: 100%;
      box-sizing: border-box;
    }
    
    .form-errors {
      display: block;
      color: red;
      margin-top: 10px;
      font-size: 18px;
    }
  }

  input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid transparent;
    box-shadow: 0 1px 5px #bfbdbd;
    text-align: center;
    font-size: 14px;
    font-family: Verdana, sans-serif;
    margin: 5px 0;
  }

  button {
    width: 150px;
    background: #3d8ee9;
    border: 1px solid #2d85e8;
    padding: 10px;
    border-radius: 5px;
    margin: 10px auto;
    color: #fff;
    font-weight: bold;
    cursor: pointer;

    &[disabled] {
      opacity: 0.3;
      cursor: not-allowed;
    }

  }

  *:focus {
    outline: 0;
  }
}
